.co{
    background-color: #ffcccc;
  }
h1{
    text-align: center;
}

h3{
    text-align: center;
}
  .board button{
    height: 100px;
    width: 100px;
    border-radius: 50%;
    border: 5px solid black;
    background-color: gray;
    margin: 2px;
  }
  .board{
    margin: auto;
  }
  .status{
    text-align: center;
  }